nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    font-size: 1.4rem; 
    color: white;
  }
  
  .navbar-logo {
    font-size: 50px;
    font-weight: 800;
    user-select: none;
  }
  
  .navbar-link, .navbar-sign{
    display: flex;
    list-style-type: none;
    gap: 30px;
    text-decoration: none;
    color: white;
  }
  
  .navbar-link > *, .navbar-sign > *{
    color: white;
    text-decoration: none;
    position: relative;
  }
  
  .navbar-link > *:after, .navbar-sign > *:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: white;
    height: 1px;
    transition: all .2s;
  }
  
  .navbar-link > *:hover:after, .navbar-sign > *:hover:after {
    width: 100%;
  }

  .navbar-userInfo {
    display: flex;
    align-items: center;
  }

  .navbar-userInfo div {
    display: flex;
    align-items: center;
  }

  .navbar-userInfo div img {
    margin-right: 15px;
  }

  .navbar-userInfo button {
    height: 45px;
    width: 100px;
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 1em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  