.profile-container {
    padding-top: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    border: 1px solid red;
}

.profile-page-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.profile-info {
    width: 100%;
}
.profile-info h1 {
    text-align: center;
}

.profile-avatar img{
    width: 200px;
}

.profile-info h2{
    text-align: center;
    margin-top: 10px;
}

.profile-email {
    color: gray;
}

.profile-posts{
    display: flex;
    margin-top: 25px;
    margin-left: 100px;
}

.profile-page-right{
    flex: 1;
}
.profile-page-right-title {
    text-align: center;
}
